<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-screen-lg mb-15" *ngIf="!goToNegocio">
        <div class="mb-6 sm:mb-12 mt-10">
            <mat-button-toggle-group class="flex flex-wrap -m-2" [(ngModel)]="selectedFilter" (change)="onFilterChange($event)">
                <ng-container *ngFor="let filter of filters">
                    <mat-button-toggle class="m-2" [value]="filter">
                        <span class="text-secondary">{{filter | titlecase}}</span>
                        <span class="ml-1.5 font-medium text-secondary">({{numberOfCards[filter]}})</span>
                    </mat-button-toggle>
                </ng-container>
            </mat-button-toggle-group>
        </div>

        <div class="flex flex-wrap  w-full max-w-500 -m-4">
            <fuse-card *ngFor="let data of Data" class="flex flex-col max-w-72 mx-4 my-4 w-full filter-{{data.tipo}}">
                <img class="object-cover" src="assets/images/cards/coffee-shop-01-320x200.jpg" alt="Card cover image">
                <div class="m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">{{data.name}}</div>
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="flex items-center">
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star_half'"></mat-icon>
                        </div>
                        <div class="text-secondary ml-2">{{data.calificacion}}</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">{{data.reviews}} reviews</div>
                    </div>
                    <div class="mt-6">
                        {{data.description}}
                    </div>
                    <div class="flex items-center mt-3 -mx-3">
                        <button class="px-3 mr-1" mat-button [color]="'primary'" [routerLink]="['./']">
                        Agendar cita
                        </button>
                        <button class="px-3" mat-button [color]="'primary'" (click)="goToNegocio = true">
                            Revisar Negocio
                        </button>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>


    <div class="w-full max-w-screen-xl mx-auto mb-15 mt-10" *ngIf="goToNegocio">
        <!-- Tabs -->
        <mat-tab-group class="sm:px-2" [animationDuration]="'0'">

            <!-- Home -->
            <mat-tab label="Servicios">
                <ng-template matTabContent>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                        <!-- Summary -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Summary</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                            </button>
                                    <mat-menu #summaryMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">21</div>
                                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Due Tasks</div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Completed:</div>
                                    <div class="ml-1.5 text-lg font-semibold">13</div>
                                </div>
                            </div>
                        </div>
                        <!-- Overdue -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Overdue</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="overdueMenu">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                            </button>
                                    <mat-menu #overdueMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">17</div>
                                <div class="text-lg font-medium text-red-600 dark:text-red-500">Tasks</div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">From yesterday:</div>
                                    <div class="ml-1.5 text-lg font-semibold">9</div>
                                </div>
                            </div>
                        </div>
                        <!-- Issues -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Issues</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                            </button>
                                    <mat-menu #issuesMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">24</div>
                                <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Open</div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Closed today:</div>
                                    <div class="ml-1.5 text-lg font-semibold">19</div>
                                </div>
                            </div>
                        </div>
                        <!-- Features -->
                        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-start justify-between">
                                <div class="text-lg font-medium tracking-tight leading-6 truncate">Features</div>
                                <div class="ml-2 -mt-2 -mr-3">
                                    <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                            </button>
                                    <mat-menu #featuresMenu="matMenu">
                                        <button mat-menu-item>Yesterday</button>
                                        <button mat-menu-item>2 days ago</button>
                                        <button mat-menu-item>3 days ago</button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="flex flex-col items-center mt-2">
                                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
                                <div class="text-lg font-medium text-green-600 dark:text-green-500">Proposals</div>
                                <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                    <div class="text-md font-medium truncate">Implemented:</div>
                                    <div class="ml-1.5 text-lg font-semibold">16</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-template>
            </mat-tab>

            <!-- Budget -->
            <mat-tab label="Nosotros">
                <ng-template matTabContent>
                    <div class="grid grid-cols-1 sm:grid-cols-6 gap-6 w-full min-w-0">


                    </div>
                </ng-template>
            </mat-tab>

            <!-- Team -->
            <mat-tab label="Equipo">
                <ng-template matTabContent>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                        <ng-container *ngFor="let member of teamMembers">
                            <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                                <!-- Avatar & Info -->
                                <div class="flex flex-col flex-auto w-full p-8 text-center">
                                    <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                                        <img class="w-full h-full object-cover" [src]="member.avatar">
                                    </div>
                                    <div class="mt-6 font-medium">{{member.name}}</div>
                                    <div class="text-secondary">{{member.title}}</div>
                                </div>
                                <!-- Email & Phone -->
                                <div class="flex items-center w-full border-t divide-x">
                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="'mailto:' + member.email">
                                        <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        <span class="ml-2">Email</span>
                                    </a>
                                    <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="'tel:' + member.phone">
                                        <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                        <span class="ml-2">Call</span>
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </div>

</div>
